@charset 'utf-8';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 1920px;
  height: 1200px;
}
.header{
  border-top: 1px solid #40b5e1;
  height: 157px;
}
.body{
  height: 917px;
}
.footer{
  height: 126px;
  padding: 0 400px;
}

/* header */
.header-top{
  height: 38px;
  padding: 0 400px;
  border: 1px solid springgreen;
}
.bar1{
  width: 1px;
  height: 11px;
  background-color: #828282;
  display: inline-block;
  vertical-align: -3px;
}
.float-right{
  float: right;
}
.header-top a{
  text-decoration: none;
}
.login, .signup, .sitemap{
  color: #828282;
  font-size: 11px;
  line-height: 33px;
}
.sitemap{
  margin-right: 10px;
}
.fb-icon, .twit-icon, .call-icon{
  width: 15px;
  height: 15px;
  vertical-align: -3px;
}
.header-bottom{
  padding: 8px 400px;
  height: 119px;
}
.logo-box{
  width: 100px;
  height: 50px;
  background-color: cadetblue;
  float: left;
}
.menu-list>ul{
  display: flex;
}
ul{
  list-style-type: none;
}
.menu{
  margin: 0 15px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #666666;
}
.submenu{
  font-size: 12px;
  font-weight: normal;
  margin-top: 2px;
}
.bar2{
  width: 1px;
  height: 100px;
  background-color: #eeeeee;
}

/* body */
.body{
  border-top: 1px solid #dedede;
  position: relative;
}
.bg-img-box{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg-img{
  margin: -480px -880px;
}
.maintext-box{
  position: absolute;
  top: 136px;
  right: 400px;
}
.text1{
  font-size: 46px;
  color: #020101;
}
.text2{
  margin-top: 7px;
  font-size: 18px;
  color: #323232;
}
.contents-box{
  width: 1000px;
  height: 279px;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.top-contents{
  display: flex;
}
.reservebox{
  padding: 20px 10px 20px 20px;
  width: 250px;
  height: 139px;
}
.box1{
  background-color: #32acdb;
}
.box2{
  background-color: #4bc2b7;
}
.box3{
  background-color: #db6132;
}
.box4{
  background-color: #665759;
}
.textbox{
  width: 135px;
  float: left;
  color: white;
  font-weight: bold;
}
.title{
  font-size: 16px;
}
.text3{
  margin-top: 5px;
  font-size: 9px;
  font-weight: normal;
}
.round{
  width: 68px;
  height: 68px;
  border-radius: 34px;
  margin-top: 13px;
  overflow: hidden;
}
.round>img{
  width: 100px;
}
.contents-bg{
  width: 1000px;
  height: 140px;
  background-color: #f8fbfb;
  opacity: 0.8;
  position: relative;
}
.contents{
  display: flex;
  position: absolute;
  top: 139px;
}
.notice, .qna{
  width: 250px;
  height: 140px;
  padding: 20px 10px 20px 20px;
}
.branch{
  width: 500px;
  height: 140px;
  padding: 20px 10px 20px 20px;
}
.title2>span{
  font-size: 16px;
  font-weight: bold;
  color: #2b2b2a;
}
.notice-list{
  margin-top: 5px;
  width: 220px;
}
.notice-list a{
  text-decoration: none;
  color: #555555;
  font-size: 10px;
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.date{
  font-size: 10px;
  color: #a4a4a4;
}
.notice-text{
  display: flex;
}

/* footer */
.copyright{
  float: right;
  text-align: right;
  color: #666666;
  font-size: 11px;
}
